.container-column {
  display: flex;
  height: 100%;
}

.sidenav {
  flex-basis: 25%;
  display: flex;
}

.content {
  flex-grow: 1;
  display: flex;
}


.posts {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  

  border-left-color: grey;
  border-left-width: 1px;
  border-left-style: solid;

  border-right-color: grey;
  border-right-style: solid;
  border-right-width: 1px;
}

.posts .header {
  min-height: 120px;
  width: 100%;

  border-bottom-color: grey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.discover {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.discover .header {
  min-height: 70px;
  width: 100%;

  border-bottom-color: grey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
